
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-size: 1rem ;
}

.App {
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  font-size: 4rem;
}

.submitBtn{
  padding-top: 2rem;
}