
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem; 
}

.App {
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.submitBtn{
  padding-top: 2rem;
}

.memberEdit{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  width: 50%;
  margin: 0 auto;
}

.memberEdit button {
  text-align: center;
  margin: 0 auto;
  width: 20%;
  background-color: #999;
  color: red;
}

.memberEdit h2{
  font-size: 2rem;
  color: #333;
}

.memberEdit button:hover {
  color: white;
  background-color: red;
}